<?xml version="1.0"?>
<configuration>
  <sitecore>
    <settings>
      <!-- Twitter config-->
      <setting name="SocialAggregator.Source.Twitter.AuthenticationEndpoint" value="https://api.twitter.com/oauth2/token" />
      <setting name="SocialAggregator.Source.Twitter.ConsumerSecret" value="#################" />
      <setting name="SocialAggregator.Source.Twitter.SecretKey" value="#################" />
      <setting name="SocialAggregator.Source.Twitter.TimelineEndPoint" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts=1&amp;exclude_replies=1&amp;count={1}"/>
      <setting name="SocialAggregator.Source.Twitter.TargetAccount" value="#################"/>      
      <!-- end Twitter config-->
      <!-- Facebook config-->
      <setting name="SocialAggregator.Source.Facebook.EndPoint" value="https://graph.facebook.com/#################/posts?access_token={0}&amp;limit={1}"/>
      <setting name="SocialAggregator.Source.Facebook.AppToken" value="#################"/>
      <setting name="SocialAggregator.Source.Facebook.IndividualPost" value="https://www.facebook.com/#################/posts/{0}"/>
      <!-- end Facebook config -->
      <!-- proxy settings-->
      <setting name="SocialAggregator.Proxy.Url" value=""/>
      <setting name="SocialAggregator.Proxy.Username" value=""/>
      <setting name="SocialAggregator.Proxy.Password" value=""/>
      <!-- end proxy settings-->
    </settings>
    <scheduling>   
      <agent type="Sitecore.SocialAggregator.Updater, Sitecore.SocialAggregator" method="Run" interval="00:10:00">
        <Sources hint="raw:AddSource">  
          <source type="Sitecore.SocialAggregator.Sources.Facebook, Sitecore.SocialAggregator" root="{E23E55D0-974F-4754-8FCD-E99DF3D46BE7}" />
          <!--<source type="Sitecore.SocialAggregator.Sources.Twitter, Sitecore.SocialAggregator" root="{3FDB0020-8034-46BE-8261-EF2FB3D702FD}"/>-->
        </Sources>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
